<div class="alert text-center cookiealert cookiehide" role="alert">
  <b><%= t('cookie_notice.title') %></b> <%= image_tag("svg/cookie.svg", :alt => "cookie alert", :class => "svg", :height => "25", :style => "padding-right: 5px;") %><%= t('cookie_notice.consent') %><a href="https://cookiesandyou.com/" target="_blank"> <%= t('cookie_notice.learn') %></a>
  <button type="button" class="btn btn-primary btn-sm acceptcookies" aria-label="Close"><%= t('cookie_notice.agree') %></button>
</div>
