<p id="notice"><%= notice %></p>

<%= month_calendar events: @logs do |date, logs| %>
  <%= date %>
  <% @logs.each do |log| %>

      <p>
        <strong>Meal</strong>
          <%= log.meal %>
      </p>
      <p>
        <strong>Calories Consumed:</strong>
          <%= log.calories %>
      </p>
      <p>
        <strong>Meal Rating</strong>
          <%= log.meal_rating %>
      </p>
      <p><%= link_to 'Show', log %></p>
      <p><%= link_to 'Edit', edit_log_path(log) %></p>
      <p><%= link_to 'Destroy', log, method: :delete, data: { confirm: 'Are you sure?' } %></p>

  <% end %>

<%= link_to 'New Log', new_log_path %>

<% end %>
