<p id="notice"><%= notice %></p>

<%= month_calendar events: @logs do |date, logs| %>
  <%= date %>

  <% logs.each do |log| %>
    <a class="book-links" href="/logs/<%=log.id %>">
    <div>
      <%=log.meal%>

    </div>

    <div>
      <%=log.calories %>
    </div>
    </a>
  <% end %>
<% end %>


<%= link_to 'New Log', new_log_path, class: "btn-custom" %>
