<p>
  <strong>Start time:</strong>
  <%= @log.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @log.end_time %>
</p>

<p>
  <strong>Meal:</strong>
  <%= @log.meal %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @log.calories %>
</p>


<%= link_to 'Edit', edit_log_path(@log), class: "btn-custom" %> |
<%= link_to 'Back', logs_path, class: "btn-custom" %>
<%= link_to 'Delete', log_path, method: :delete, data: {confirm: "Are you sure you want to delete this log?"}, class: "btn-custom" %>
