<p id="notice"><%= notice %></p>

<p>
  <strong>Meal:</strong>
  <%= @log.meal %>
</p>

<p>
  <strong>Calories:</strong>
  <%= @log.calories %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @log.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @log.end_date %>
</p>

<%= link_to 'Edit', edit_log_path(@log), class: "btn-custom" %> |
<%= link_to 'Back', logs_path, class: "btn-custom" %>
