<div id="main-content" class="container col-11 rounded-img">
  <div class="row">
    <div id="text-content-holder" class="col-xl-9 col-lg-8 col-md-7 left-rounded-img">
      <%= yield %>
    </div>
    <div class="col-xl-3 col-lg-4 col-md-5 text-center" style="padding-top: 15px; padding-bottom: 20px">
      <div id="address-div" class="rounded-img" style="width: 250px">
        <h4 id="address-heading" class="text-center font-weight-bold rounded-img" style="margin-left: 15px; margin-right: 15px;"><%= t('address.title') %></h4>
        <hr>
        <ul class="list-unstyled text-left font-italic" style="padding-left: 15px; padding-right: 15px;">
          <li><%= t('address.location') %></li>
          <li><%= t('address.town') %></li>
          <li><%= t('address.county') %></li>
          <li><%= t('address.country') %></li>
          <li><%= t('address.postcode') %></li>
        </ul>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2497.714468617589!2d-0.5899695485213544!3d51.2427532794923!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4875d0c24843083b%3A0x299de52aed4213a1!2sUniversity%20Of%20Surrey!5e0!3m2!1sen!2suk!4v1575588313661!5m2!1sen!2suk" width="250" height="450" frameborder="0" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</div>
