<div id="main-content" class="container col-11 rounded-img">
  <div class="row">
    <div class="col-xl-5 col-lg-5 col-md-5 text-center" style="padding-top: 15px; padding-bottom: 20px">
    <div class="home">  
    <div id="address-div" class="rounded-img" style="width: 250px">
        <h4 id="address-heading" class="text-center font-weight-bold rounded-img" style="margin-left: 15px; margin-right: 15px;"><%= t('address.title') %></h4>
        <hr>
        <ul class="list-unstyled text-left font-italic" style="padding-left: 15px; padding-right: 15px;">
          <li><%= t('address.location') %></li>
          <li><%= t('address.town') %></li>
          <li><%= t('address.county') %></li>
          <li><%= t('address.country') %></li>
          <li><%= t('address.postcode') %></li>
        </ul>
      </div>
     </div> 
    </div>
    <div id="text-content-holder" class="col-xl-7 col-lg-7 col-md-7 left-rounded-img">
      <%= yield %>
    </div>
  </div>
</div>
