<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= t('app_title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= action_cable_meta_tag %>
  <link rel="manifest" href="/manifest.json" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

  <body data-username="<%= unless current_user.nil? then current_user.name end %>">
    <%= render 'layouts/header' %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= render 'layouts/main-content' %>

    <%= render 'layouts/footer' %>

    <%= render 'layouts/cookie-notice' %>
  </body>
</html>
