<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= t('app_title') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJNk50v2KRB8p10YZYosdBTicUQFv6te8"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= stylesheet_link_tag 'dhtmlxscheduler_material', media:'all', 'data-turbolinks-track'=>true %>
    <%= javascript_include_tag 'dhtmlxscheduler', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'dhtmlxscheduler_quick_info', 'data-turbo-links' => true %>
    <%= javascript_include_tag 'dhtmlxscheduler_minical', 'data-turbo-links' => true %>
    <%= action_cable_meta_tag %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  <link rel="manifest" href="<%= asset_path('manifest.json') %>" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

  <body data-username="<%= unless current_user.nil? then current_user.name end %>">
    <%= render 'layouts/header' %>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= render 'layouts/main-content' %>

    <%= render 'layouts/footer' %>

    <%= render 'layouts/cookie-notice' %>
  </body>
</html>
